anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.0
astroid==2.4.2
asttokens==2.0.5
attrs==21.4.0
autopep8==1.6.0
backcall==0.2.0
beautifulsoup4==4.10.0
black==22.1.0
bleach==4.1.0
certifi==2020.12.5
cffi==1.15.0
chardet==4.0.0
click==8.0.4
colorama==0.4.4
cycler==0.10.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
dj-database-url==0.5.0
Django==4.0.1
django-bootstrap4==21.2
django-heroku==0.3.1
djangorestframework==3.13.1
entrypoints==0.4
executing==0.8.2
fastapi==0.78.0
gunicorn==20.1.0
h11==0.13.0
httptools==0.4.0
idna==2.10
ipykernel==6.9.1
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.6.4
jedi==0.18.1
Jinja2==3.0.3
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
MarkupSafe==2.1.0
matplotlib==3.3.4
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
MouseInfo==0.1.3
mypy-extensions==0.4.3
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.8
numpy==1.20.1
packaging==21.3
pandas==1.3.4
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pickleshare==0.7.5
Pillow==8.1.0
platformdirs==2.5.1
plotly==4.14.3
prometheus-client==0.13.1
prompt-toolkit==3.0.28
psycopg2==2.9.3
psycopg2-binary==2.9.3
pure-eval==0.2.2
PyAutoGUI==0.9.52
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.1
pygame==2.0.1
PyGetWindow==0.0.9
Pygments==2.11.2
pylint==2.6.0
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.1
PyRect==0.1.4
pyrsistent==0.18.1
PyScreeze==0.1.26
python-dateutil==2.8.1
python-dotenv==0.20.0
PyTweening==1.0.3
pytz==2021.3
pywin32==303
pywinpty==2.0.2
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
requests==2.25.1
retrying==1.3.3
Send2Trash==1.8.0
six==1.15.0
sniffio==1.2.0
soupsieve==2.3.1
sqlparse==0.4.2
stack-data==0.2.0
starlette==0.19.1
terminado==0.13.1
testpath==0.5.0
toml==0.10.1
tomli==2.0.1
tornado==6.1
traitlets==5.1.1
typing-extensions==4.1.1
tzdata==2021.5
urllib3==1.26.4
watchgod==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==5.3.0
widgetsnbextension==3.5.2
wikipedia==1.4.0
wrapt==1.12.1